h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: rgba(233, 233, 233, 0.5);
  border: 1px solid rgba(233, 233, 233, 0.5);
  box-shadow: -1px -1px 6px 1px rgba(0, 0, 0, 0.2);
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 25%;
}

.ghost {
  background-color: gray;
  border-radius: 25%;
}

.food {
  background-color: red;
}

#tab {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 15%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 100px;
  margin-bottom: 5px;
}

#scoreText {
  margin-top: 2px;
  margin-bottom: 4px;
}
