h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: rgba(233, 233, 233, 0.5);
  border: 1px solid rgba(233, 233, 233, 0.5);
  box-shadow: -1px -1px 3px 2px rgba(0, 0, 0, 0.1);
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25%;
}

.ghost {
  background-color: rgb(128, 128, 128, 0.7);
  border-radius: 25%;
}

.normal {
  background-image: radial-gradient(circle, green, yellow, red);
}

.special {
  animation: nutrition 2s linear 0s infinite;
}

#tab {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 15%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  background-color: rgba(233, 233, 233, 0.5);
}

#scoreText {
  margin-top: 2px;
  margin-bottom: 4px;
}

#msgBox {
  display: none;
  position: absolute;
  width: 800px;
  height: 480px;
}

@keyframes nutrition {
  0% {
    border-radius: 50%;
    background-color: red;
  }
  100% {
    border-radius: 0;
    background-color: yellow;
  }
}
